#Conexão sqlite - Importação de Arquivos CSV - Atualização da tabela de log.

In [ ]:
linha = '21.837.213;2024;3;26;18;47;17;21;29;15'

print(linha.split(";"))

['21.837.213', '2024', '3', '26', '18', '47', '17', '21', '29', '15']

In [5]:
import csv
import sqlite3
conexao=sqlite3.connect("controle_horas.db")

In [6]:
cursor3=conexao.cursor()

In [15]:
conexao=sqlite3.connect("controle_horas.db")
# sql='Select * From aluno'
sql ='Select * From log_entrada_saida'
cursor3.execute(sql)
lista_alunos=cursor3.fetchall()
conexao.close()
print(lista_alunos)

[]

In [14]:
conexao=sqlite3.connect("controle_horas.db")
cursor2=conexao.cursor()

sql='DELETE FROM log_entrada_saida'
cursor2.execute(sql)
conexao.commit()
conexao.close()

In [ ]:
sql='Select * From log_entrada_saida'
cursor3.execute(sql)
log_entrada_saida=cursor3.fetchall()
conexao.close()
print(log_entrada_saida)

[]

In [ ]:
sql1="CREATE TABLE IF NOT EXISTS log_entrada_saida(matricula text, ano text, mes	text, dia text, hora_in text, min_in text, seg_in text, hora_out text, min_out	text,seg_out text)"
cursor1=conexao.cursor() #executar um comando #Presta Atenção
cursor1.execute(sql1)

In [ ]:
sql="CREATE TABLE IF NOT EXISTS aluno(matricula TEXT, nome TEXT)"
cursor1=conexao.cursor() #executar um comando #Presta Atenção
cursor1.execute(sql)

In [ ]:
with open('alunos.csv', 'r') as arquivo:
    leitor_aluno = csv.reader(arquivo)
    for linha_aluno in leitor_aluno:
        print(linha_aluno)

['\ufeffmatricula;nome;dt_nascimento']
['21.887.902;Ana Carolina Dias Monteiro;08/04/1994']
['21.911.763;Ananda da Silva Santos;24/03/2003']
['21.906.549;Anderson Siqueira Ferreira;15/07/2003']
['20.758.069;Arthur Gonzaga dos Santos Rosa;15/08/2004']
['21.833.215;Bezallel oliveira dos anjos lima;12/11/2002']
['23.916.924;Brisa Darc Calado Silva;28/12/2004']
['21.911.977;Cleisson da Silva da Encarnação;05/09/2001']
['15.556.000;Daniel Costa dos Santos;19/04/1998']
['81.009.041;Diego Soares Martins;09/08/1987']
['23.915.804;Eric Santana da Hora;22/04/2002']
['23.917.760;Everaldo da Silva Neto;08/12/1998']
['21.909.025;Filipe Amorim Zendron;25/05/2004']
['23.916.921;Filipe de Cerqueira dos Santos;02/05/2000']
['162.631.082;Gabriel Silva Lemos dos Santos;22/04/1999']
['21.832.927;Iago Santos Silva;26/09/2005']
['21.889.048;João Pedro Santa Rita Dourado;27/06/2002']
['23.914.662;Lucas Dos Santos Monte;24/02/2005']
['21.906.673;Marcos Moraes Nascimento Júnior;01/05/2002']
['23.914.655;Marcus Vinicius Vilas Boas da Silva;25/10/2001']
['21.911.469;Maxsuell Oliveira Da Fonseca;11/01/2003']
['23.917.040;Mayara Cristhine Santos Silva;29/05/2004']
['21.909.659;Michael de Jesus Silva;28/07/2004']
['12.260.193;Paulo Cesar dos Santos Azevedo;01/03/1979']
['21.906.726;Paulo Victor Matos de Almeida Bastos;10/06/1997']
['91.148.537;Ricardo Queiroz dos Santos;18/05/1991']
['21.911.393;Rodrigo Afonso Barboza do Nascimento;19/10/1982']
['23.915.923;Sean Derik da Silva Rodrigues;30/01/2005']
['23.917.053;Tainá Sacramento da Silva;14/08/2002']
['14.381.390;Tales Santana de França;24/07/1997']
['21.892.862;Tawã Júlio Carvalho Caixêta;08/10/1992']
['14.456.395;Wesley Paim Santana Meireles;02/11/1994']
['21.837.213;Yuri Silva Carvalho;16/08/2003']

In [ ]:
'21.837.213;2024;3;26;18;47;17;21;29;15'

In [ ]:
print(linha.split(";"))

['21.837.213', '2024', '3', '26', '18', '47', '17', '21', '29', '15']

In [50]:
with open('log_entrada_saida.txt' ,'r') as arquivo_log:
  log_e_s = csv.reader(arquivo_log)
  for linha_log in log_e_s:
    teste = (linha_log[0].split('\t'))
    if not 'maricula' in teste:
      teste02 = "INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('{0}','{1}','{2}','{3}','{4}','{5}','{6}','{7}')".format(teste[0],teste[1],teste[2],teste[3],teste[4],teste[5],teste[6],teste[7])
      print(teste02)

INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('matricula','ano','mês','dia','hora','min','seg','tipo')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.887.902','2024','3','26','18','40','0','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.763','2024','3','26','19','42','1','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.549','2024','3','26','18','45','30','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('20.758.069','2024','3','26','18','50','42','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.833.215','2024','3','26','19','51','50','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.924','2024','3','26','19','55','41','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.977','2024','3','26','18','32','23','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('15.556.000','2024','3','26','18','20','45','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('81.009.041','2024','3','26','18','35','55','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.804','2024','3','26','18','48','41','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.760','2024','3','26','19','47','12','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.025','2024','3','26','19','46','18','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.921','2024','3','26','18','40','20','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('162.631.082','2024','3','26','18','42','26','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.832.927','2024','3','26','19','43','54','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.889.048','2024','3','26','19','47','6','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.662','2024','3','26','18','30','7','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.673','2024','3','26','19','42','13','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.655','2024','3','26','18','45','17','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.469','2024','3','26','18','50','19','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.040','2024','3','26','19','51','8','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.659','2024','3','26','19','55','14','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('12.260.193','2024','3','26','18','32','23','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.726','2024','3','26','19','20','15','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('91.148.537','2024','3','26','18','35','19','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.393','2024','3','26','18','48','35','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.923','2024','3','26','19','47','4','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.053','2024','3','26','18','32','28','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.381.390','2024','3','26','18','20','46','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.892.862','2024','3','26','19','35','48','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.456.395','2024','3','26','19','48','49','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.837.213','2024','3','26','18','47','17','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.887.902','2024','4','1','18','40','0','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.887.902','2024','4','1','21','30','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.763','2024','4','2','19','42','1','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.763','2024','4','2','22','20','1','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.549','2024','4','3','18','45','30','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.549','2024','4','3','21','45','30','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('20.758.069','2024','4','4','18','50','42','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('20.758.069','2024','4','4','22','50','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.833.215','2024','4','5','19','51','50','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.833.215','2024','4','5','21','30','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.924','2024','4','6','19','55','41','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.924','2024','4','6','20','40','30','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.977','2024','4','7','18','32','23','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.977','2024','4','7','22','0','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('15.556.000','2024','4','8','18','20','45','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('81.009.041','2024','4','9','18','35','55','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.804','2024','4','10','18','48','41','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.760','2024','4','11','19','47','12','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.025','2024','4','12','19','46','18','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.921','2024','4','13','18','40','20','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('162.631.082','2024','4','14','18','42','26','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.832.927','2024','4','15','19','43','54','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.889.048','2024','4','16','19','47','6','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.662','2024','4','17','18','30','7','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.673','2024','4','18','19','42','13','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.655','2024','4','19','18','45','17','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.469','2024','4','20','18','50','19','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.040','2024','4','21','19','51','8','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.659','2024','4','22','19','55','14','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('12.260.193','2024','4','23','18','32','23','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.726','2024','4','24','19','20','15','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('91.148.537','2024','4','25','18','35','19','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.393','2024','4','26','18','48','35','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.923','2024','4','27','19','47','4','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.053','2024','4','28','18','32','28','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.381.390','2024','4','29','18','20','46','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.892.862','2024','4','30','19','35','48','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.456.395','2024','4','31','19','48','49','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.837.213','2024','4','30','18','47','17','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('15.556.000','2024','4','8','21','20','45','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('81.009.041','2024','4','9','22','50','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.804','2024','4','10','19','40','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.760','2024','4','11','17','30','12','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.025','2024','4','12','18','0','0','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.916.921','2024','4','13','16','40','20','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('162.631.082','2024','4','14','22','0','10','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.832.927','2024','4','15','21','40','54','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.889.048','2024','4','16','22','10','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.662','2024','4','17','20','30','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.673','2024','4','18','16','20','15','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.914.655','2024','4','19','16','40','17','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.469','2024','4','20','16','55','0','1')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.040','2024','4','21','22','20','8','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.909.659','2024','4','22','21','40','14','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('12.260.193','2024','4','23','21','45','10','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.906.726','2024','4','24','22','20','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('91.148.537','2024','4','25','21','55','10','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.911.393','2024','4','26','22','0','10','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.915.923','2024','4','27','21','47','4','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('23.917.053','2024','4','28','22','20','0','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.381.390','2024','4','29','21','45','46','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.892.862','2024','4','30','22','15','48','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('14.456.395','2024','4','31','21','30','15','0')
INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo) values('21.837.213','2024','4','30','19','50','50','0')

In [38]:
if not 'maricula' in teste:
  print(teste)

['21.837.213', '2024', '4', '30', '19', '50', '50', '0']

In [27]:
linha_log

['21.837.213\t2024\t4\t30\t19\t50\t50\t0']

In [49]:
if not 'maricula' in teste:
  print (teste[4])

hora

In [ ]:
len(linha)

In [32]:
type(log_e_s)

_csv.reader

In [ ]:
type(linha)

In [ ]:
sql="INSERT into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo)"
cursor1=conexao.cursor() #executar um comando #Presta Atenção
cursor1.execute(sql)

insert into log_entrada_saida(maricula,ano,mes,dia,hora,minuto,segundo,tipo)
values('123','2025','8','16','10','40','0','1')

In [ ]:
print(log_entrada_saida)

[]